#{extends 'main.html' /}

#{set title:'Search: ' + term.escape() /}
<h1>&{'search'} ${term}</h1>

#{if users.size() > 0}
	<ul>
		#{list items:users, as:'user_'}
			<li class="user">#{a @Application.showprofile(user_.getName())} ${user_.getName()}#{/a}
		#{/list}
	</ul>
	#{if maxIndex > 0}
		<p class = "pagination">
		#{if index != 0}
			<a href="@{Search.searchUser(term, index-1)}">&{'previous'}</a>
		#{/if}
		${index + 1}/${maxIndex + 1}
		#{if index != maxIndex}
			<a href="@{Search.searchUser(term, index+1)}">&{'next'}</a>
		#{/if}
	#{/if}
</p>
#{/if}#{else}
	<div class="message">
		<p>&{'search.fail.users'} ${term}</p>
	</div><!-- end message -->
#{/else}
